.App {
  text-align: center;
  background-color: #ffffff;
  height: 100%;
}

.Radient {
  background-clip: text;
  -webkit-background-clip: text;
  color: rgba(0, 0, 0, 0.2);
}

h1 {
  color: #000;
  font-size: 3.25em;
  font-weight: 900;
}

h2 {
  color: #52595f;
  font-weight: 400;
}

.Container {
  margin-top: 50px;
  margin-bottom: 20px;
  display: inline-block;
  justify-content: center;
  height: 15em;
  width: 25em;
  position: relative;
  border-radius: 25px;
  background-color: #f0f0f0;
}

p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-size: 1.5em;
  font-weight: 250;
  color: #f0f0f0;
}

button {
  margin-top: 250px;
  font-size: 1em;
  height: 2.5em;
  width: 12.5em;
  border-radius: 15px;
  border: none;
  outline: none;
  color: #000;
  background-color: #f0f0f0;
}
